{% extends "admin_base.html" %}
{% block left %}
<ul class="nav nav-pills nav-stacked text-center">
	<hr>
	<li role="presentation" ><a href="/admin_page">学生信息列表</a></li>
	<li role="presentation"><a href="/admin_adduser">添加学生信息</a></li>
	<hr>
	<li role="presentation" class="active"><a href="/admin_userfinancelist">学生学费列表</a></li>
	<li role="presentation"><a href="/admin_addUserFinance">添加学生学费</a></li>
	<hr>
	<li role="presentation"><a href="/admin_userLeavingschoollist">学生留校列表</a></li>
	<li role="presentation"><a href="/admin_addLeavingschool">添加学生留校</a></li>
	<hr>
	<li role="presentation"><a href="/admin_teacherlist">教师信息列表</a></li>
	<li role="presentation"><a href="/admin_addTeacher">添加教师信息</a></li>
	<hr>
	<li role="presentation" ><a href="/admin_TeacherFinancelist">教师工资列表</a></li>
	<li role="presentation" ><a href="/admin_addTeacherFinance">添加教师工资</a></li>
	<hr>
	<li role="presentation" ><a href="/addmin_Contentlist">公告信息列表</a></li>
	<li role="presentation" ><a href="/admin_addContent">添加公告信息</a></li>
	<hr>
	<li role="presentation"><a href="/admin_updatepassword1">修改密码</a></li>
</ul>
{% endblock %}
{% block right %}
	<div class="col-md-10">
        <h3>修改学习学费</h3>
        <hr>
        <div class="container">
            <div class="btn-group">
                <form action="/admin_updateUserFinance/{{result._id}}" method="post">
                    <ul class="list-group col-md-6  col-xs-6 col-md-offset-1 col-xs-offset-1">
                        <li class="list-group-item" style="width: 555px;">
                            <div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                                <span class="input-group-addon">学费</span>
                                <input type="text" class="form-control input-lg" name="user_xuefei" required oninvalid="setCustomValidity('学费不能为空')" oninput="setCustomValidity('')" value="{{result.user_xuefei}}"/>
                            </div>
                        </li>
                        <li class="list-group-item" style="width: 555px;">
                            <div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                                <span class="input-group-addon">书费</span>
                                <input type="text" class="form-control input-lg" name="user_shufei" required oninvalid="setCustomValidity('书费不能为空')" oninput="setCustomValidity('')" value="{{result.user_shufei}}"/>
                            </div>
                        </li>
                        <li class="list-group-item" style="width: 555px;">
                            <div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                                <span class="input-group-addon">住宿费</span>
                                <input type="text" class="form-control input-lg" name="user_zhusufei" required oninvalid="setCustomValidity('住宿费不能为空')" oninput="setCustomValidity('')" value="{{result.user_zhusufei}}"/>
                            </div>
                        </li>
                        <li class="list-group-item" style="width: 555px;">
                            <div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                                <span class="input-group-addon">已支付</span>
                                <input type="text" class="form-control input-lg" name="user_zhifu" required oninvalid="setCustomValidity('已支付不能为空')" oninput="setCustomValidity('')" value="{{result.user_zhifu}}"/>
                            </div>
                        </li>
                        <li class="list-group-item" style="width: 555px;">
                            <div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                                <span class="input-group-addon">用户ID</span>
                                <input type="text" class="form-control input-lg" required oninvalid="setCustomValidity('用户ID不能为空')" oninput="setCustomValidity('')" name="userid" value="{{result.userid}}"/>
                            </div>
                        </li>
                        <li class="list-group-item" style="width: 555px;">
                            <input type="submit" class="btn btn-danger btn-lg" style="width: 50%;" value="确认修改" /><a href="/admin_userfinancelist" class="btn btn-primary btn-lg" style="width: 50%">返回上一页</a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
	</div>
{% endblock %}