{% extends "base.html" %}
{% block title %} 详情页面 {% endblock %}
{% block grzx %}
<div class="col-md-3 col-xs-3">
</div>
<div class="col-md-3 col-xs-3">
</div>
{% endblock %}
{% block content %}
<div class="div_logind" style="margin-top: 70px; padding-top: 100px;">
    <div class="container">
        <div class="btn-group" style="width: 1140px; height: 650px; text-align: center;">
            <form action="#" method="post">
                <ul class="list-group col-md-6  col-xs-6 col-md-offset-3 col-xs-offset-3">
                    <li class="list-group-item" style="width: 555px;">
                        <h1>用户详情</h1>
                    </li>
                    <li class="list-group-item" style="width: 555px;">
                        <div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                            <span class="input-group-addon">账号</span>
                            <input type="text" class="form-control input-lg" name="username" value="{{result.username}}" disabled/>
                        </div>
                    </li>
                    <li class="list-group-item" style="width: 555px;">
                        <div class="input-group col-md-8 col-md-offset-2  col-xs-8 col-xs-offset-2">
                            <span class="input-group-addon">密码</span>
                            <input type="text" class="form-control input-lg" name="password" value="{{result.password}}" disabled/>
                        </div>
                    </li>
                                        <li class="list-group-item" style="width: 555px;">
                        <div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                            <span class="input-group-addon">姓名</span>
                            <input type="text" class="form-control input-lg" name="xm" value="{{result.xm}}" disabled/>
                        </div>
                    </li>
                    <li class="list-group-item" style="width: 555px;">
                        <div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                            {% if result.gender == 1 %}
                                <label class="radio-inline">
                                    <input type="radio" name="gender"  value="1" checked disabled> 男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="gender" value="0" disabled> 女
                                </label>
                            {% else %}
                                <label class="radio-inline">
                                <input type="radio" name="gender"  value="1" disabled> 男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="gender" value="0" checked disabled> 女
                                </label>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-group-item" style="width: 555px;">
                        <div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                            <span class="input-group-addon">Q Q</span>
                            <input type="text" class="form-control input-lg" name="qq" value="{{result.qq}}" disabled/>
                        </div>
                    </li>
                    <li class="list-group-item" style="width: 555px;">
                        <div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                            <span class="input-group-addon">邮箱</span>
                            <input type="email" class="form-control input-lg" name="email" value="{{result.email}}" disabled/>
                        </div>
                    </li>
                    <li class="list-group-item" style="width: 555px;">
                        <div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                            <span class="input-group-addon">地址</span>
                            <input type="text" class="form-control input-lg" name="address" value="{{result.address}}" disabled/>
                        </div>
                    </li>
                    <li class="list-group-item" style="width: 555px;">
                        <div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                            <span class="input-group-addon">电话</span>
                            <input type="text" class="form-control input-lg" name="phone" value="{{result.phone}}" disabled/>
                        </div>
                    </li>
                    <li class="list-group-item" style="width: 555px;">
                        <a href="/admin_updateTeacher/{{result.id}}" class="btn btn-warning btn-lg" style="width: 50%">修改信息</a><a href="/admin_page" class="btn btn-primary btn-lg" style="width: 50%">返回首页</a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
{% endblock %}