{% extends "base.html" %}

{% block grzx %}
<div class="col-md-3 col-xs-3 col-md-offset-3 col-xs-offset-3">
	<li>
		<a href="#" class="btn btn-default"><h3>欢迎你-{{name}}</h3></a>
	</li>
</div>
{% endblock %}
{% block content %}
<div class="container LTAB">
	<div class="col-md-2 col-xs-2 text-center">
				<ul class="nav nav-pills nav-stacked " role="tablist" id="vtab">
					<li role="presentation" class="active">
						<a href="#tab1" aria-controls="home" role="tab" data-toggle="tab">
							<h3>学生管理</h3>
						</a>
					</li>
					<li role="presentation">
						<a href="#tab2" aria-controls="home" role="tab" data-toggle="tab">
							<h3>学生财务</h3>
						</a>
					</li>
					<li role="presentation">
						<a href="#tab3" aria-controls="outbox" role="tab" data-toggle="tab">
							<h3>留校管理</h3>
						</a>
					</li>
					<li role="presentation">
						<a href="#tab4" aria-controls="inbox1" role="tab" data-toggle="tab">
							<h3>教师管理</h3>
						</a>
					</li>
					<li role="presentation">
						<a href="#tab5" aria-controls="outbox1" role="tab" data-toggle="tab">
							<h3>图像</h3>
						</a>
					</li>
					<li role="presentation">
						<a href="#tab6" aria-controls="outbox1" role="tab" data-toggle="tab">
							<h3>修改密码</h3>
						</a>
					</li>
				</ul>
			</div>
	<div class="tab-content vertical-tab-content col-md-10 col-xs-10">
				<div role="tabpanel" class="tab-pane active" id="tab1">
					<div class="panel panel-default">
						<div class="panel-heading">
							<form action="/admin_checkuser" method="post">
								<div class="input-group col-md-6 col-md-offset-6 col-xs-6 col-xs-offset-6">
									<input type="text" class="form-control input-lg" name="username" placeholder="请输入账号"/>
									<span class="input-group-btn">
										<input type="submit" class="btn btn-danger btn-lg" name="提交" />
									</span>
								</div>
							</form>
						</div>
						<div class="panel-body">
							<table class="table table-bordered table-hover table-striped">
						<tr>
							<th> <h4>编号</h4></th>
							<th><h4>账号</h4></th>
							<th><h4>密码</h4></th>
							<th><h4>姓名</h4></th>
                            <th><h4></h4></th>
						</tr>
						{% if user %}
							{% for result in user %}
								<tr>
									<th><h4>{{loop.index}}</h4></th>
									<th><h4>{{result.username}}</h4></th>
									<th><h4>{{result.password}}</h4></th>
									<th><h4>{{result.xm}}</h4></th>
									<th>
										<a href="/admin_updateuser/{{result.id}}" class="btn btn-info" style="width: 32%">修改</a>
										<a href="/admin_userdetails/{{result.id}}" class="btn btn-info" style="width: 32%">详情</a>
										<a href="/admin_deleteuser/{{result.id}}" class="btn btn-danger" style="width: 32%">删除</a>
									</th>
								</tr>
							{% endfor %}
						{% else %}
							<tr>
								<h4>无</h4>
							</tr>
						{% endif %}
					</table>
							<a href="/admin_adduser" class="btn btn-primary admin-a1"><h4>增加</h4> </a>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="tab2">
					<div class="panel panel-default">
						<div class="panel-heading">
							<form action="/admin_checkuserfinance" method="post">
								<div class="input-group col-md-6 col-md-offset-6 col-xs-6 col-xs-offset-6">
									<input type="text" class="form-control input-lg" name="xm" placeholder="请输入姓名"/>
									<span class="input-group-btn">
										<input type="submit" class="btn btn-danger btn-lg" name="提交" />
									</span>
								</div>
							</form>
						</div>
						<div class="panel-body">
							<table class="table table-bordered table-hover table-striped">
						<tr>
							<th> <h4>编号</h4></th>
							<th> <h4>姓名</h4></th>
							<th><h4>学费</h4></th>
							<th><h4>书费</h4></th>
							<th><h4>住宿费</h4></th>
							<th><h4>总金额</h4></th>
							<th><h4>已支付</h4></th>
							<th><h4>欠费金额</h4></th>
                            <th><h4></h4></th>
						</tr>
                            {% if finance %}
                                {% for result in finance %}
                                    <tr>

                                        <th><h4>{{loop.index}}</h4></th>
										<th><h4>{{result.xm}}</h4></th>
                                        <th><h4>{{result.user_xuefei}}</h4></th>
                                        <th><h4>{{result.user_shufei}}</h4></th>
										<th><h4>{{result.user_zhusufei}}</h4></th>
                                        <th><h4>{{result.user_sum}}</h4></th>
										<th><h4>{{result.user_zhifu}}</h4></th>
                                        <th><h4>{{result.user_qian}}</h4></th>
                                        <th><a href="/admin_updateUserFinance/{{result._id}}" class="btn btn-info" style="width: 48%">修改</a>
                                        <a href="/admin_deleteUserFinance/{{result._id}}" class="btn btn-danger" style="width: 48%">删除</a></th>
                                    </tr>
                                {% endfor %}
                            {% else %}
							<tr>
								<th><h4>1.</h4></th>
								<th><h4>没有学费</h4></th>
								<th><h4>没有书费</h4></th>
							</tr>
						{% endif %}
					</table>
                    		<a href="/admin_addUserFinance" class="btn btn-primary admin-a1"><h4>增加</h4> </a>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="tab3">
					<table class="table table-bordered table-hover table-striped">
						<tr>
							<th> <h4>姓名</h4></th>
							<th><h4>理由</h4></th>
							<th><h4>状态</h4></th>
						</tr>
						{% if liuxiao %}
							{% for result in liuxiao %}
								<tr>
									<th><h4>{{result.user_name}}</h4></th>
									<th><h4>{{result.user_liyou}}</h4></th>
									<th><h4>{{result.user_ztai}}</h4></th>
								</tr>
							{% endfor %}
						{% else %}
							<tr>
								<h4>还没有申请</h4>
							</tr>
						{% endif %}
					</table>
				</div>
				<div role="tabpanel" class="tab-pane" id="tab4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<form action="/admin_checkuser" method="post">
								<div class="input-group col-md-6 col-md-offset-6 col-xs-6 col-xs-offset-6">
									<input type="text" class="form-control input-lg" name="username" placeholder="请输入账号"/>
									<span class="input-group-btn">
										<input type="submit" class="btn btn-danger btn-lg" name="提交" />
									</span>
								</div>
							</form>
						</div>
						<div class="panel-body">
							<table class="table table-bordered table-hover table-striped">
						<tr>
							<th> <h4>编号</h4></th>
							<th><h4>账号</h4></th>
							<th><h4>密码</h4></th>
							<th><h4>姓名</h4></th>
                            <th><h4></h4></th>
						</tr>
						{% if user %}
							{% for result in teacher %}
								<tr>
									<th><h4>{{loop.index}}</h4></th>
									<th><h4>{{result.username}}</h4></th>
									<th><h4>{{result.password}}</h4></th>
									<th><h4>{{result.xm}}</h4></th>
									<th>
										<a href="/admin_updateTeacher/{{result.id}}" class="btn btn-info" style="width: 32%">修改</a>
										<a href="/admin_Teacherdetails/{{result.id}}" class="btn btn-info" style="width: 32%">详情</a>
										<a href="/admin_deleteteacher/{{result.id}}" class="btn btn-danger" style="width: 32%">删除</a>
									</th>
								</tr>
							{% endfor %}
						{% else %}
							<tr>
								<h4>无</h4>
							</tr>
						{% endif %}
					</table>
							<a href="/admin_addTeacher" class="btn btn-primary admin-a1"><h4>增加</h4> </a>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="tab5">这是..图像.</div>
				<div role="tabpanel" class="tab-pane" id="tab6">
					<div class="div_logind" style="margin-top: 40px;">
						<div class="container">
							<div class="btn-group" style="text-align: center;">
								<form action="/admin_updatepassword" method="post">
									<ul class="list-group col-md-8 col-xs-8 col-md-offset-1 col-xs-offset-1">
										<li class="list-group-item" style="width: 555px;">
											<h1>修改密码界面</h1>
										</li>
										<li class="list-group-item" style="width: 555px;">
											<div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
												<span class="input-group-addon">原密码</span>
												<input type="text" class="form-control input-lg" name="password" placeholder="请输入您的原密码"/>
											</div>
										</li>
										<li class="list-group-item" style="width: 555px;">
											<div class="input-group col-md-8 col-md-offset-2  col-xs-8 col-xs-offset-2">
												<span class="input-group-addon">新密码</span>
												<input type="password" class="form-control input-lg" name="password1" placeholder="请输入您的新密码"/>
											</div>
										</li>
										<li class="list-group-item" style="width: 555px;">
											<input type="submit" class="btn btn-danger btn-lg" style="width: 350px;" name="提交" />
										</li>
									</ul>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
</div>
{% endblock %}