{% extends "admin_base.html" %}
{% block left %}
<ul class="nav nav-pills nav-stacked text-center">
	<hr>
	<li role="presentation" ><a href="/admin_page">学生信息列表</a></li>
	<li role="presentation"><a href="/admin_adduser">添加学生信息</a></li>
	<hr>
	<li role="presentation"><a href="/admin_userfinancelist">学生学费列表</a></li>
	<li role="presentation"><a href="/admin_addUserFinance">添加学生学费</a></li>
	<hr>
	<li role="presentation"><a href="/admin_userLeavingschoollist">学生留校列表</a></li>
	<li role="presentation"><a href="/admin_addLeavingschool">添加学生留校</a></li>
	<hr>
	<li role="presentation"><a href="/admin_teacherlist">教师信息列表</a></li>
	<li role="presentation" class="active"><a href="/admin_addTeacher">添加教师信息</a></li>
	<hr>
	<li role="presentation" ><a href="/admin_TeacherFinancelist">教师工资列表</a></li>
	<li role="presentation" ><a href="/admin_addTeacherFinance">添加教师工资</a></li>
	<hr>
	<li role="presentation" ><a href="/addmin_Contentlist">公告信息列表</a></li>
	<li role="presentation" ><a href="/admin_addContent">添加公告信息</a></li>
	<hr>
	<li role="presentation" ><a href="/admin_updatepassword1">修改密码</a></li>
</ul>
{% endblock %}
{% block right %}
	<div class="col-md-10">
        <h3>添加教师信息</h3>
        <hr>
        <div class="container">
        <div class="btn-group">
            <form action="/admin_addTeacher" method="post">
                <ul class="list-group col-md-6  col-xs-6 col-md-offset-1 col-xs-offset-1">
                    <li class="list-group-item" style="width: 555px;">
                        <div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                            <span class="input-group-addon">账号</span>
                            <input type="text" class="form-control input-lg" name="username" placeholder="请输入添加的账号"/>
                        </div>
                    </li>
                    <li class="list-group-item" style="width: 555px;">
                        <div class="input-group col-md-8 col-md-offset-2  col-xs-8 col-xs-offset-2">
                            <span class="input-group-addon">密码</span>
                            <input type="password" class="form-control input-lg" name="password" placeholder="请输入添加的初始密码"/>
                        </div>
                    </li>
                    <li class="list-group-item" style="width: 555px;">
                        <div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                            <span class="input-group-addon">姓名</span>
                            <input type="text" class="form-control input-lg" name="xm" placeholder="请输入添加的姓名"/>
                        </div>
                    </li>
                    <li class="list-group-item" style="width: 555px;">
                        <div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                            <label class="radio-inline">
                                <input type="radio" name="gender"  value="1" checked> 男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="gender" value="0"> 女
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item" style="width: 555px;">
                        <div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                            <span class="input-group-addon">Q Q</span>
                            <input type="text" class="form-control input-lg" name="qq" placeholder="请输入添加的QQ"/>
                        </div>
                    </li>
                    <li class="list-group-item" style="width: 555px;">
                        <div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                            <span class="input-group-addon">邮箱</span>
                            <input type="email" class="form-control input-lg" name="email" placeholder="请输入添加的邮箱"/>
                        </div>
                    </li>
                    <li class="list-group-item" style="width: 555px;">
                        <div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                            <span class="input-group-addon">地址</span>
                            <input type="text" class="form-control input-lg" name="address" placeholder="请输入添加的地址"/>
                        </div>
                    </li>
                    <li class="list-group-item" style="width: 555px;">
                        <div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                            <span class="input-group-addon">电话</span>
                            <input type="text" class="form-control input-lg" name="phone" placeholder="请输入添加的电话"/>
                        </div>
                    </li>
                    <li class="list-group-item" style="width: 555px;">
                        <input type="submit" class="btn btn-danger btn-lg" style="width: 100%;" value="提交" />
                    </li>
                </ul>
            </form>
        </div>
    </div>
	</div>
{% endblock %}
