{% extends "base.html" %}
{% block title %} 添加工资 {% endblock %}
{% block grzx %}
<div class="col-md-3 col-xs-3">
</div>
<div class="col-md-3 col-xs-3">
</div>
{% endblock %}
{% block content %}
<div class="div_logind" style=" padding-top: 100px;">
    <div class="container">
        <div class="btn-group" style="width: 1140px; height: 650px; text-align: center;">
            <form action="/admin_addTeacherFinance" method="post">
                <ul class="list-group col-md-6  col-xs-6 col-md-offset-3 col-xs-offset-3">
                    <li class="list-group-item" style="width: 555px;">
                        <h1>添加教师工资界面</h1>
                    </li>
                    <li class="list-group-item" style="width: 555px;">
                        <div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                            <span class="input-group-addon">基础工资</span>
                            <input type="text" class="form-control input-lg" name="t_wages" placeholder="请输入要添加的基础工资"/>
                        </div>
                    </li>
                    <li class="list-group-item" style="width: 555px;">
                        <div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                            <span class="input-group-addon">补贴</span>
                            <input type="text" class="form-control input-lg" name="t_subsidy" placeholder="请输入要添加的补贴"/>
                        </div>
                    </li>
                    <li class="list-group-item" style="width: 555px;">
                        <div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                            <span class="input-group-addon">津贴</span>
                            <input type="text" class="form-control input-lg" name="t_allowance" placeholder="请输入要添加的津贴"/>
                        </div>
                    </li>
                     <li class="list-group-item" style="width: 555px;">
                        <div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                            <span class="input-group-addon">日期</span>
                            <input type="date" class="form-control input-lg" name="t_data" placeholder="请输入要添加的时间"/>
                        </div>
                    </li>
                    <li class="list-group-item" style="width: 555px;">
                        <div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                            <span class="input-group-addon">&nbsp;&nbsp;I &nbsp;&nbsp; D&nbsp;</span>
                            <input type="text" class="form-control input-lg" name="userid" placeholder="请输入要添加的ID"/>
                        </div>
                    </li>
                    <li class="list-group-item" style="width: 555px;">
                        <input type="submit" class="btn btn-danger btn-lg" style="width: 50%;" value="提交" /><a href="/admin_page" class="btn btn-primary btn-lg" style="width: 50%">返回首页</a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
{% endblock %}