<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %} {% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css"/>
		<script src="../static/js/jquery-2.1.4.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			.login_ul{
				list-style: none;
			}
			a:link{
				text-decoration: none;
			}
			.LTAB{
				margin-top: 70px;
			}
			h2{
				text-align: center;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container" style="width: 1170px;height: 69px;">
				<div class="row">
					<div class="col-md-4 col-xs-4">
						<h1 style="text-align: left; color: #b4b5ba;">统一信息门户</h1>
					</div>
					<div class="col-md-8 col-xs-8">
						<ul class="login_ul">
							{% block grzx %}

							{% endblock %}
							<div class="col-md-3 col-xs-3">
								<li>
									<a href="/" class="btn btn-danger"><h3>退出登录</h3></a>
								</li>
							</div>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		{% block  content %}
		{% endblock %}
		<nav></nav>
	</body>
</html>
