<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %} {% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css"/>
		<script src="../static/js/jquery-2.1.4.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			.login_ul{
				list-style: none;
			}
			a:link{
				text-decoration: none;
			}
			.LTAB{
				margin-top: 70px;
			}
			h2{
				text-align: center;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container" style="width: 1170px;height: 69px;">
				<div class="row">
					<div class="col-md-4 col-xs-4">
						<h1 style="text-align: left; color: #b4b5ba;">统一信息门户</h1>
					</div>
					<div class="col-md-8 col-xs-8">
						<ul class="login_ul">
							{% block grzx %}

							{% endblock %}
							<div class="col-md-3 col-xs-3">
								<li>
									<h3><a href="/">退出登录</a></h3>
								</li>
							</div>
						</ul>
					</div>
				</div>
			</div>
		</nav>
		<div class="container LTAB">
			<div class="col-md-2 col-xs-2 text-center">
				<ul class="nav nav-pills nav-stacked " role="tablist" id="vtab">
					<li role="presentation">
						<a href="#tab1" aria-controls="home" role="tab" data-toggle="tab">
							<h3>用户管理</h3>
						</a>
					</li>
					<li role="presentation" class="active">
						<a href="/">
							<h3>财务管理</h3>
						</a>
					</li>
					<li role="presentation">
						<a href="#tab3" aria-controls="outbox" role="tab" data-toggle="tab">
							<h3>留校管理</h3>
						</a>
					</li>
					<li role="presentation">
						<a href="#tab4" aria-controls="inbox1" role="tab" data-toggle="tab">
							<h3>成绩查询</h3>
						</a>
					</li>
					<li role="presentation">
						<a href="#tab5" aria-controls="outbox1" role="tab" data-toggle="tab">
							<h3>图像</h3>
						</a>
					</li>
					<li role="presentation">
						<a href="#tab6" aria-controls="outbox1" role="tab" data-toggle="tab">
							<h3>事件</h3>
						</a>
					</li>
					<li role="presentation">
						<a href="#tab7" aria-controls="outbox1" role="tab" data-toggle="tab">
							<h3>修改密码</h3>
						</a>
					</li>
				</ul>
			</div>
			{% block  content %}
        	{% endblock %}
		</div>
	</body>
</html>
