{% extends "base.html" %}
{% block content %}
		<div class="container LTAB">
			<div class="col-md-2 col-xs-2 text-center">
				<ul class="nav nav-pills nav-stacked " role="tablist" id="vtab">
					<li role="presentation" class="active">
						<a href="#tab1" aria-controls="home" role="tab" data-toggle="tab">
							<h3>公告栏目</h3>
						</a>
					</li>
					<li role="presentation">
						<a href="#tab2" aria-controls="inbox" role="tab" data-toggle="tab">
							<h3>我的财务</h3>
						</a>
					</li>
					<li role="presentation">
						<a href="#tab3" aria-controls="outbox" role="tab" data-toggle="tab">
							<h3>留校申请</h3>
						</a>
					</li>
					<li role="presentation">
						<a href="#tab4" aria-controls="outbox" role="tab" data-toggle="tab">
							<h3>我的公告</h3>
						</a>
					</li>
					<li role="presentation">
						<a href="#tab5" aria-controls="outbox1" role="tab" data-toggle="tab">
							<h3>修改密码</h3>
						</a>
					</li>
				</ul>
			</div>
			<div class="tab-content vertical-tab-content col-md-10 col-xs-10">
				<div role="tabpanel" class="tab-pane active" id="tab1">
					<div class="col-md-8">
						{% if content %}
							{% for result in content %}
								<div class="panel panel-primary">
									<div class="panel-heading"> <h2>最新公告</h2> </div>
									<div class="panel-body">
										<h3>
											{{result.content}}
										</h3>
									</div>
									<div class="panel-footer text-right"> <h3> 发布人：{{result.xm}} </h3> </div>
								</div>
							{% endfor %}
						{% else %}
							<div class="panel panel-primary">
								<div class="panel-heading"> <h2>没有公告</h2> </div>
							</div>
						{% endif %}
					</div>
					<div class="col-md-4">
						{% if content %}
							<div class="panel panel-primary">
								<div class="panel-heading"> <h2>历史公告</h2> </div>
								{% for result in content1 %}
								<div class="panel-body">
									<small>{{result.content}}</small>
								</div>
								<div class="panel-footer text-right">  发布人：{{result.xm}} </div>
								{% endfor %}
							</div>
						{% else %}
							<div class="panel panel-primary">
								<div class="panel-heading"> <h2>没有历史公告</h2> </div>
							</div>
						{% endif %}
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="tab2">
					<div class="panel panel-default">
						<div class="panel-heading text-center">
							<h1>我的财务账单</h1>
						</div>
						<div class="panel-body">
							<table class="table table-bordered table-hover table-striped">
								<tr>
									<th> <h4>编号</h4></th>
									<th> <h4>姓名</h4></th>
									<th><h4>基础工资</h4></th>
									<th><h4>补贴</h4></th>
									<th><h4>津贴</h4></th>
									<th><h4>税收</h4></th>
									<th><h4>总金额</h4></th>
									<th><h4>日期</h4></th>
								</tr>
									{% if finance %}
										{% for result in finance %}
											<tr>
												<th><h4>{{loop.index}}</h4></th>
												<th><h4>{{result.xm}}</h4></th>
												<th><h4>{{result.t_wages}}</h4></th>
												<th><h4>{{result.t_subsidy}}</h4></th>
												<th><h4>{{result.t_allowance}}</h4></th>
												<th><h4>{{result.t_tax}}</h4></th>
												<th><h4>{{result.t_sum}}</h4></th>
												<th><h4>{{result.t_data}}</h4></th>
											</tr>
										{% endfor %}
									{% else %}
									<tr>
										<h4>无</h4>
									</tr>
								{% endif %}
							</table>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="tab3">
					<div class="col-md-6 col-xs-6">
						<table class="table table-bordered table-hover table-striped">
							<tr>
								<th> <h4>姓名</h4></th>
								<th><h4>理由</h4></th>
								<th><h4>状态</h4></th>
							</tr>
							{% if Leavingschool %}
								{% for result in Leavingschool %}
									<tr>
										{% if result.user_ztai == 1%}
											<th><h4>{{result.user_name}}</h4></th>
											<th><h4>{{result.user_liyou}}</h4></th>
											<th><h4>通过</h4></th>
										{% elif result.user_ztai == 2 %}
											<th><h4>{{result.user_name}}</h4></th>
											<th><h4>{{result.user_liyou}}</h4></th>
											<th><h4>未通过</h4></th>
										{% endif %}
									</tr>
								{% endfor %}
							{% else %}
								<tr>
									<h4>还没有申请</h4>
								</tr>
							{% endif %}
						</table>
					</div>
					<div class="col-md-6 col-xs-6">
						<table class="table table-bordered table-hover table-striped">
							<tr>
								<th> <h4>姓名</h4></th>
								<th><h4>理由</h4></th>
								<th><h4>状态</h4></th>
								<th><h4>是否通过</h4></th>
							</tr>
							{% if Leavingschool %}
								{% for result in Leavingschool %}
									<tr>
										{% if result.user_ztai == 0 %}
											<th><h4>{{result.user_name}}</h4></th>
											<th><h4>{{result.user_liyou}}</h4></th>
											<th><h4>待审核</h4></th>
											<th>
												<a href="/teacher_y_updateLeavingschool/{{result.id}}" class="btn btn-info" style="width: 48%">通过</a>
												<a href="/teacher_n_updateLeavingschool/{{result.id}}" class="btn btn-info" style="width: 48%">未通过</a>
											</th>
										{% endif %}
									</tr>
								{% endfor %}
							{% else %}
								<tr>
									<h4>还没有申请</h4>
								</tr>
							{% endif %}
						</table>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="tab4">
					<div class="col-md-6 col-xs-6">
						<form action="/teacher_addContent" method="post">
							<ul class="list-group">
								<li class="list-group-item text-center">
									<h1>发布公告</h1>
								</li>
								<li class="list-group-item">
									<span class="input-group-addon">内容</span>
									<textarea name="content" class="form-control" rows="10"></textarea>
								</li>
								<li class="list-group-item">
									<input type="submit" class="btn btn-danger btn-lg" style="width: 100%;" value="发布" />
								</li>
							</ul>
						</form>
					</div>
					<div class="col-md-6 col-xs-6">
						<div class="panel panel-default text-center">
							<div class="panel-heading">
								<h1>我的公告列表</h1>
							</div>
							{% if teachercontent %}
								{% for result in teachercontent %}
								<div class="panel-body">
									<small>{{result.content}}</small>
								</div>
								<div class="panel-footer text-right">
									<a href="/teacher_updateContent/{{result._id}}" class="btn btn-info" style="width: 49%">修改</a>
									<a href="/teacher_deleteContent/{{result._id}}" class="btn btn-danger" style="width: 49%">删除</a>
								</div>
								{% endfor %}
							{% else %}
								<div class="panel panel-primary">
									<div class="panel-heading"> <h2>没有历史公告</h2> </div>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="tab5">
					<div class="div_logind" style="margin-top: 40px;">
						<div class="container">
							<div class="btn-group" style="text-align: center;">
								<form action="/teacher_updatepassword" method="post">
									<ul class="list-group col-md-8 col-xs-8 col-md-offset-2 col-xs-offset-2">
										<li class="list-group-item" style="width: 555px;">
											<h1>修改密码界面</h1>
										</li>
										<li class="list-group-item" style="width: 555px;">
											<div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
												<span class="input-group-addon">原密码</span>
												<input type="text" class="form-control input-lg" name="password" placeholder="请输入您的原密码"/>
											</div>
										</li>
										<li class="list-group-item" style="width: 555px;">
											<div class="input-group col-md-8 col-md-offset-2  col-xs-8 col-xs-offset-2">
												<span class="input-group-addon">新密码</span>
												<input type="password" class="form-control input-lg" name="password1" placeholder="请输入您的新密码"/>
											</div>
										</li>
										<li class="list-group-item" style="width: 555px;">
											<input type="submit" class="btn btn-danger btn-lg" style="width: 350px;" name="提交" />
										</li>
									</ul>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}