{% extends "home_base.html" %}
{% block left %}
<ul class="nav nav-pills nav-stacked text-center">
	<hr>
	<li role="presentation" ><a href="/home_page">公告信息</a></li>
	<hr>
	<li role="presentation" ><a href="/teacher_financelist">我的工资</a></li>
	<hr>
	<li role="presentation"><a href="/teacher_leavingschoollist">留校列表</a></li>
	<hr>
	<li role="presentation" ><a href="/teacher_Contenlist">我的公告</a></li>
	<hr>
	<li role="presentation" class="active"><a href="/teacher_personal">个人中心</a></li>
	<li role="presentation"><a href="/teacher_updatepassword1">修改密码</a></li>
</ul>
{% endblock %}
{% block right %}
	<div class="col-md-10">
		<h3>个人中心</h3>
		<hr>
		<div class="container">
			<div class="btn-group">
				<form action="/teacher_personal" method="post">
					<ul class="list-group col-md-6  col-xs-6 col-md-offset-1 col-xs-offset-1">
						<li class="list-group-item" style="width: 555px;">
							<div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
								<span class="input-group-addon">姓名</span>
								<input type="text" class="form-control input-lg" name="xm" value="{{result.xm}}"/>
							</div>
						</li>
						<li class="list-group-item" style="width: 555px;">
							<div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
								{% if result.gender == 1 %}
									<label class="radio-inline">
										<input type="radio" name="gender"  value="1" checked> 男
									</label>
									<label class="radio-inline">
										<input type="radio" name="gender" value="0"> 女
									</label>
								{% else %}
									<label class="radio-inline">
									<input type="radio" name="gender"  value="1"> 男
									</label>
									<label class="radio-inline">
										<input type="radio" name="gender" value="0" checked> 女
									</label>
								{% endif %}
							</div>
						</li>
						<li class="list-group-item" style="width: 555px;">
							<div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
								<span class="input-group-addon">Q Q</span>
								<input type="text" class="form-control input-lg" name="qq" value="{{result.qq}}"/>
							</div>
						</li>
						<li class="list-group-item" style="width: 555px;">
							<div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
								<span class="input-group-addon">邮箱</span>
								<input type="email" class="form-control input-lg" name="email" value="{{result.email}}"/>
							</div>
						</li>
						<li class="list-group-item" style="width: 555px;">
							<div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
								<span class="input-group-addon">地址</span>
								<input type="text" class="form-control input-lg" name="address" value="{{result.address}}"/>
							</div>
						</li>
						<li class="list-group-item" style="width: 555px;">
							<div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
								<span class="input-group-addon">电话</span>
								<input type="text" class="form-control input-lg" name="phone" value="{{result.phone}}"/>
							</div>
						</li>
						<li class="list-group-item" style="width: 555px;">
							<input type="submit" class="btn btn-danger btn-lg" style="width: 100%;" value="确认" />
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>
{% endblock %}