{% extends "base.html" %}


{% block grzx %}
<div class="col-md-3 col-xs-3 col-md-offset-3 col-xs-offset-3">
</div>
<div class="col-md-3 col-xs-3">
</div>
{% endblock %}


{% block content %}
	<div class="div_logind" style=" padding-top: 100px;">
				<div class="container">
					<div class="btn-group" style="width: 1140px; height: 650px; text-align: center;">
						<form action="/teacher_personal" method="post">
							<ul class="list-group col-md-6  col-xs-6 col-md-offset-3 col-xs-offset-3">
								<li class="list-group-item" style="width: 555px;">
									<h1>个人中心</h1>
								</li>
								<li class="list-group-item" style="width: 555px;">
									<div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
										<span class="input-group-addon">姓名</span>
										<input type="text" class="form-control input-lg" name="xm" value="{{result.xm}}"/>
									</div>
								</li>
								<li class="list-group-item" style="width: 555px;">
									<div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
										{% if result.gender == 1 %}
											<label class="radio-inline">
												<input type="radio" name="gender"  value="1" checked> 男
											</label>
											<label class="radio-inline">
												<input type="radio" name="gender" value="0"> 女
											</label>
										{% else %}
											<label class="radio-inline">
											<input type="radio" name="gender"  value="1"> 男
											</label>
											<label class="radio-inline">
												<input type="radio" name="gender" value="0" checked> 女
											</label>
										{% endif %}
									</div>
								</li>
								<li class="list-group-item" style="width: 555px;">
									<div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
										<span class="input-group-addon">Q Q</span>
										<input type="text" class="form-control input-lg" name="qq" value="{{result.qq}}"/>
									</div>
								</li>
								<li class="list-group-item" style="width: 555px;">
									<div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
										<span class="input-group-addon">邮箱</span>
										<input type="email" class="form-control input-lg" name="email" value="{{result.email}}"/>
									</div>
								</li>
								<li class="list-group-item" style="width: 555px;">
									<div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
										<span class="input-group-addon">地址</span>
										<input type="text" class="form-control input-lg" name="address" value="{{result.address}}"/>
									</div>
								</li>
								<li class="list-group-item" style="width: 555px;">
									<div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
										<span class="input-group-addon">电话</span>
										<input type="text" class="form-control input-lg" name="phone" value="{{result.phone}}"/>
									</div>
								</li>
								<li class="list-group-item" style="width: 555px;">
									<input type="submit" class="btn btn-danger btn-lg" style="width: 50%;" value="确认保存" /><a href="/teacher_page" class="btn btn-primary btn-lg" style="width: 50%">返回首页</a>
								</li>
							</ul>
						</form>
					</div>
				</div>
			</div>
{% endblock %}