{% extends "home_base.html" %}
{% block left %}
<ul class="nav nav-pills nav-stacked text-center">
	<hr>
	<li role="presentation" ><a href="/home_page">公告信息</a></li>
	<hr>
	<li role="presentation" ><a href="/teacher_financelist">我的工资</a></li>
	<hr>
	<li role="presentation"><a href="/teacher_leavingschoollist">留校列表</a></li>
	<hr>
	<li role="presentation" class="active"><a href="/teacher_Contenlist">我的公告</a></li>
	<hr>
	<li role="presentation" ><a href="/teacher_personal">个人中心</a></li>
	<li role="presentation"><a href="/teacher_updatepassword1">修改密码</a></li>
</ul>
{% endblock %}
{% block right %}
	<div class="col-md-10">
		<h3>修改公告</h3>
		<hr>
		<div class="container">
			<div class="btn-group">
				<form action="/teacher_updateContent/{{result._id}}" method="post">
					<ul class="list-group col-md-6  col-xs-6 col-md-offset-1 col-xs-offset-1">
						<li class="list-group-item" style="width: 555px;">
							<span class="input-group-addon">内容
							<textarea name="content" required oninvalid="setCustomValidity('内容不能为空')" oninput="setCustomValidity('')" class="form-control" rows="10">{{result.content}}</textarea></span>
						</li>
						<li class="list-group-item" style="width: 555px;">
							<input type="submit" class="btn btn-danger btn-lg" style="width: 100%;" value="发布" />
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
