{% extends "home_base.html" %}
{% block left %}
<ul class="nav nav-pills nav-stacked text-center">
	<hr>
	<li role="presentation" ><a href="/teacher_page">公告信息</a></li>
	<hr>
	<li role="presentation"><a href="/teacher_financelist">我的工资</a></li>
	<hr>
	<li role="presentation" class="active"><a href="/teacher_leavingschoollist">留校列表</a></li>
	<hr>
	<li role="presentation"><a href="/teacher_Contenlist">我的公告</a></li>
	<hr>
	<li role="presentation"><a href="/teacher_personal">个人中心</a></li>
	<li role="presentation" ><a href="/teacher_updatepassword1">修改密码</a></li>
</ul>
{% endblock %}
{% block right %}
	<div class="col-md-10">
		<div class="col-md-6 col-xs-6">
            <h3>已经审核</h3>
            <hr>
            {% if Leavingschool %}
            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <th> <h4>姓名</h4></th>
                    <th><h4>理由</h4></th>
                    <th><h4>状态</h4></th>
                </tr>
                    {% for result in Leavingschool %}
                        <tr>
                            {% if result.user_ztai == 1%}
                                <th><h4>{{result.user_name}}</h4></th>
                                <th><h4>{{result.user_liyou}}</h4></th>
                                <th><h4>通过</h4></th>
                            {% elif result.user_ztai == 2 %}
                                <th><h4>{{result.user_name}}</h4></th>
                                <th><h4>{{result.user_liyou}}</h4></th>
                                <th><h4>未通过</h4></th>
                            {% endif %}
                        </tr>
                    {% endfor %}
            {% else %}
                <tr>
                    <h4>还没有申请</h4>
                </tr>
            {% endif %}
            </table>
        </div>
        <div class="col-md-6 col-xs-6">
            <h3>未审核</h3>
            <hr>
            {% if Leavingschool %}
            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <th> <h4>姓名</h4></th>
                    <th><h4>理由</h4></th>
                    <th><h4>状态</h4></th>
                    <th><h4>是否通过</h4></th>
                </tr>
                    {% for result in Leavingschool %}
                        <tr>
                            {% if result.user_ztai == 0 %}
                                <th><h4>{{result.user_name}}</h4></th>
                                <th><h4>{{result.user_liyou}}</h4></th>
                                <th><h4>待审核</h4></th>
                                <th>
                                    <a href="/teacher_y_updateLeavingschool/{{result.id}}" class="btn btn-info" style="width: 48%">通过</a>
                                    <a href="/teacher_n_updateLeavingschool/{{result.id}}" class="btn btn-info" style="width: 48%">未通过</a>
                                </th>
                            {% endif %}
                        </tr>
                    {% endfor %}
            {% else %}
                <tr>
                    <h4>还没有申请</h4>
                </tr>
            {% endif %}
            </table>
        </div>
	</div>
{% endblock %}