{% extends "home_base.html" %}
{% block left %}
<ul class="nav nav-pills nav-stacked text-center">
	<hr>
	<li role="presentation" ><a href="/teacher_page">公告信息</a></li>
	<hr>
	<li role="presentation" class="active"><a href="/teacher_financelist">我的工资</a></li>
	<hr>
	<li role="presentation" ><a href="/teacher_leavingschoollist">留校列表</a></li>
	<hr>
	<li role="presentation"><a href="/teacher_Contenlist">我的公告</a></li>
	<hr>
	<li role="presentation"><a href="/teacher_personal">个人中心</a></li>
	<li role="presentation" ><a href="/teacher_updatepassword1">修改密码</a></li>
</ul>
{% endblock %}
{% block right %}
	<div class="col-md-10">
		<div class="panel panel-default">
            <div class="panel-heading text-center">
                <h1>我的财务账单</h1>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-hover table-striped">
                    <tr>
                        <th> <h4>编号</h4></th>
                        <th> <h4>姓名</h4></th>
                        <th><h4>基础工资</h4></th>
                        <th><h4>补贴</h4></th>
                        <th><h4>津贴</h4></th>
                        <th><h4>税收</h4></th>
                        <th><h4>总金额</h4></th>
                        <th><h4>日期</h4></th>
                    </tr>
                        {% if finance %}
                            {% for result in finance %}
                                <tr>
                                    <th><h4>{{loop.index}}</h4></th>
                                    <th><h4>{{result.xm}}</h4></th>
                                    <th><h4>{{result.t_wages}}</h4></th>
                                    <th><h4>{{result.t_subsidy}}</h4></th>
                                    <th><h4>{{result.t_allowance}}</h4></th>
                                    <th><h4>{{result.t_tax}}</h4></th>
                                    <th><h4>{{result.t_sum}}</h4></th>
                                    <th><h4>{{result.t_data}}</h4></th>
                                </tr>
                            {% endfor %}
                        {% else %}
                        <tr>
                            <h4>无</h4>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
	</div>
{% endblock %}