{% extends "home_base.html" %}
{% block left %}
<ul class="nav nav-pills nav-stacked text-center">
	<hr>
	<li role="presentation"  class="active"><a href="/teacher_page">公告信息</a></li>
	<hr>
	<li role="presentation" ><a href="/teacher_financelist">我的工资</a></li>
	<hr>
	<li role="presentation" ><a href="/teacher_leavingschoollist">留校列表</a></li>
	<hr>
	<li role="presentation" ><a href="/teacher_Contenlist">我的公告</a></li>
	<hr>
	<li role="presentation"><a href="/teacher_personal">个人中心</a></li>
	<li role="presentation" ><a href="/teacher_updatepassword1">修改密码</a></li>
</ul>
{% endblock %}
{% block right %}
	<div class="col-md-10">
		<div class="col-md-8">
						{% if content %}
							{% for result in content %}
								<div class="panel panel-primary">
									<div class="panel-heading"> <h2>最新公告</h2> </div>
									<div class="panel-body">
										<h3>
											{{result.content}}
										</h3>
									</div>
									<div class="panel-footer text-right"> <h3> 发布人：{{result.xm}} </h3> </div>
								</div>
							{% endfor %}
						{% else %}
							<div class="panel panel-primary">
								<div class="panel-heading"> <h2>没有公告</h2> </div>
							</div>
						{% endif %}
					</div>
		<div class="col-md-4">
			{% if content %}
				<div class="panel panel-info">
					<div class="panel-heading"> <h4>历史公告</h4> </div>
					{% for result in content1 %}
					<div class="panel-body">
						<small>{{result.content}}</small>
					</div>
					<div class="panel-footer text-right">  发布人：{{result.xm}} </div>
					{% endfor %}
				</div>
			{% else %}
				<div class="panel panel-primary">
					<div class="panel-heading"> <h2>没有历史公告</h2> </div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}