{% extends "home_base.html" %}
{% block left %}
<ul class="nav nav-pills nav-stacked text-center">
	<hr>
	<li role="presentation" ><a href="/home_page">公告信息</a></li>
	<hr>
	<li role="presentation"><a href="/user_financelist">我的学费</a></li>
	<hr>
	<li role="presentation" class="active"><a href="/user_leavingschool">留校列表</a></li>
    <li role="presentation" ><a href="/user_addLeavingschool">留校申请</a></li>
	<hr>
    <li role="presentation"><a href="/user_personal">个人中心</a></li>
	<li role="presentation"><a href="/user_updatepassword1">修改密码</a></li>
</ul>
{% endblock %}
{% block right %}
	<div class="col-md-10">
        <h3>留校申请</h3>
        <hr>
        <div class="container">
            <div class="btn-group">
                <form action="/user_updateLeavingschool/{{result.id}}" method="post">
                    <ul class="list-group col-md-6  col-xs-6 col-md-offset-1 col-xs-offset-1">
                        <li class="list-group-item" style="width: 555px;">
                            <div class="input-group col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
                                <span class="input-group-addon">理由
                                <textarea name="user_liyou" class="form-control" required oninvalid="setCustomValidity('理由不能为空')" oninput="setCustomValidity('')" cols="30" rows="10">{{result.user_liyou}}</textarea></span>
                            </div>
                        </li>
                        <li class="list-group-item" style="width: 555px;">
                            <input type="submit" class="btn btn-danger btn-lg" style="width: 100%;" value="提交" />
                        </li>
                    </ul>
                </form>
            </div>
        </div>
	</div>
{% endblock %}
